body {
    background-color: #efefef;
    margin: 0px;
    overflow-x: hidden;
}
main {
    grid-area: main;
    .main-grid { 
        display: grid;
        grid-template-areas: 
        "inleiding inleiding afbeeldinginleiding";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        min-height: 100vh;
    }
}
header button{
    float: right;
    background-color: #68d5d8;
    color: #00184d;
    padding: 10px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: color 0.25s, background-color 0.25s, font-size 0.25s;
}
header button:hover{ 
    color:#efefef;
    background-color:#67c5ca;
    font-size: 12pt;
}
.dark-mode{
    background-color: #3d434a;
    color: #efefef;
}
nav{
    grid-area: nav;
}
nav button {
    background-color: #68d5d8;
    width: 25%;
    height: 75px;
    padding: 0px;
    font-family: verdana;
    font-size: 15pt;
    color: #00184d;
    float: left;
    border-style: none none solid none;
    border-width: 5px;
    border-color: #00184d;
    transition: color 0.25s, background-color 0.25s, font-size 0.25s;
}
nav button:hover {
    color:#efefef;
    background-color:#67c5ca;
    font-size: 16pt;
}
header {
    grid-area: header;
    text-align: center;
    color: #efefef;
    font-size: 30pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    background-image: url(https://i.pinimg.com/originals/e2/8d/61/e28d61b0ce1b686bbd9c19b98912101f.gif);
    border-style: none none solid none;
    border-width: 5px;
    border-color: #00184d;
    padding-top: 20px;
    padding-bottom: 20px;
}
.inleiding {
    grid-area: inleiding;
    font-family: verdana;
    font-size: 12pt;
    text-align: left;
    padding: 75px 200px 10px 75px;
}
.inleiding h2 {
    font-size: 20pt;
}
.afbeeldinginleiding {
    grid-area: afbeeldinginleiding;
    width: 250px;
    height: 300px;
    padding: 75px 75px 10px 10px;
}
footer {
    grid-area: footer;
    background-color:#3d434a;
    border-style: solid none none none;
    border-width: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 75px;
    width: 100%;
    color: #efefef;
    text-align: right;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap; 10px;
}