body {
    background-color: #efefef;
    margin: 0px;
    padding: 0px;
}
main {
    grid-area: main;
    .grid-main { 
        display: grid;
        grid-template-areas: 
        ".artikel1 .artikel1 .afbeelding1"
        ".afbeelding2 .artikel2 .artikel2"
        ".artikel3 .artikel3 .afbeelding3"
        ".afbeelding4 .artikel4 .artikel4";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        min-height: 100vh;
    }
}
button { 
    background-color: #00184d;
    border-radius: 20px;
    border-color: #00184d;
    border-style: solid;
    height: 125px;
    width: 125px;
    transition: height 0.5s, width 0.5s;
    float: left;
    margin: 30px;
}
button:hover {
    height: 140px;
    width: 140px;
    border-color: #efefef;
}
header {
    grid-area: header;
    text-align: center;
    color: #efefef;
    font-size: 30pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0097b2;
    width: 100%;
    border-style: none none solid none;
    border-width: 5px;
    border-color: #00184d;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav{
    grid-area: nav;
    /* width: 12%; */
    background-color: #68d5d8;
    height: 100%;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    color:#00184d;
    float:left;
    line-height: 40px;
    margin-right: 50px;
}
li a:visited:hover{
    color:#efefef;
}
li a:link{
    color:#00184d;
    text-decoration: none;
}
li a:link:hover{
    color:#efefef;
}
li a:visited{
    color:#00184d;
    text-decoration: none;
}
article {
   padding: 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    grid-area: footer;
    background-color: #545454;
    height: 75px;
    width: 100%;
    color: #efefef;
    float:bottom;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav main main"
    "footer footer footer";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    /* gap: 10px; */
}